# User-specific stuff
.idea
.vscode
#App-specfic
config.php
/websocket/cache
/websocket/imgcache
*.config
/monitor/grafana
radar.png
/Reports
/monitor/cache/page1.php
/monitor/cache/page2.php
/monitor/cache/page3.php
/monitor/cache/page4.php
/monitor/cache/page5.php
/monitor/cache/page6.php
/monitor/cache/page7.php
/monitor/cache/page8.php
/monitor/cache/page9.php
/monitor/cache/page10.php
/monitor/cache/page11.php
/monitor/cache/page12.php
